@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap')
;


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
}

/******************************************* SIDEBAR START HERE  **************************************************/


.sidebar{
    position: fixed;
    background-color:#10223A ;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.logotete{
    text-align: center;
    padding: 20px;
    transition: all 0.8s ease-in-out;
    font-weight: 600;
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;

}

.sidebar h2{
    text-align: center;
    color: #FFFFFF;
    font-family: 'AbeeZee';
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;
    font-weight: 600;
    transition: all 0.8s ease-in-out;
    font-size: 28px;

}

.sidebar h2 span{
    font-family: 'Lobster two';
    text-transform: lowercase;
    font-weight: 500;
}


.sidebar ul li{
    margin: 20px 0;
    line-height: 20px;
    padding-top: 20px;
    font-family: 'abeezee';
    text-transform: uppercase;
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;
    letter-spacing: 0.5px;
    transition: all 0.8s ease-in-out;
    font-weight: 600;
    font-size: 14px;



}

.sidebar ul li a{
    color: #FFFFFF;
    padding: 0 40px;
    
}


.local-phone{
    color: #FFFFFF;
    padding-top: 30px;
}
.social-media a{
    color:#FAB005;
    margin: 20px;      
}

.social-media{padding-top: 40px;}

.loc-tel i{
    color: #FAB005; 
    padding: 10px;
}


.loc-tel{
    font-family: 'abeezee';
    font-size: 11px;
    font-weight: lighter;
}
.sidebar ul a:hover{
    background-color: #FAB005; 
    color: #10223a;
    transition: 1s; 
}


/* **************************************  SIDEBAR END HERE       ******************************************** */




.mainpageaccueil{
    margin-left: 200px;   

}

.mainpageaccueil h1{
    text-align: center;
    padding-top: 160px;
    font-weight: 600;
    font-family : 'Abeezee';
    text-transform: capitalize;
}












