@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
}

/******************************************* SIDEBAR START HERE  **************************************************/


.sidebar {
    position: fixed;
    background-color: #10223A;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.logotete {
    text-align: center;
    padding: 20px;
    transition: all 0.8s ease-in-out;
    font-weight: 600;
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;

}

.sidebar h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: 'AbeeZee';
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;
    font-weight: 600;
    transition: all 0.8s ease-in-out;
    font-size: 28px;

}

.sidebar h2 span {
    font-family: 'Lobster two';
    text-transform: lowercase;
    font-weight: 500;
}


.sidebar ul li {
    margin: 20px 0;
    line-height: 40px;
    padding-top: 20px;
    font-family: 'abeezee';
    text-transform: uppercase;
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;
    letter-spacing: 0.5px;
    transition: all 0.8s ease-in-out;
    font-weight: 600;
    font-size: 14px;
}

.sidebar ul li a {
    color: #FFFFFF;
    padding: 0 40px;

}


.local-phone {
    color: #FFFFFF;
    padding-top: 30px;
}

.social-media a {
    color: #FAB005;
    margin: 20px;
}

.social-media {
    padding-top: 10px;
}

.loc-tel i {
    color: #FAB005;
    padding: 10px;
}


.loc-tel {
    font-family: 'abeezee';
    font-size: 11px;
    font-weight: lighter;
}

.sidebar ga:hover {
    background-color: #FAB005;
    color: #10223a;
    transition: 1s;
}


/* **************************************  SIDEBAR END HERE       ******************************************** */

.mainpageaccueil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-top: -100px;
    height: 100vh;
    background-image: url('Images p1/Bouvier main page .png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

}

.mainpageaccueil h1 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 600;
    margin-top: 270px;
    margin-bottom: 20px;
    font-family: 'AbeeZee';
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;
    letter-spacing: -5px;


}

.mainpageaccueil h2 {
    color: #FFFFFF;
    font-family: 'AbeeZee';
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70;
    margin-bottom: 50px;
}

.imagevague {
    background-image: url('Images p1/wave (1).svg');
    height: 600px;
    background-size: cover;
    width: 100%;
}

.ancres {
    background-color: #FAB005;
    text-align: center;
    width: 130px; 
    border-radius: 100% 100% 100% 100%;
 
           
}
.ancres a{
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
color: #FFFFFF;
font-family: 'abeezee';
}


.page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.page2 aside{
    width: 20%;
    font-size: 20px;
    font-family: 'abeezee';
    line-height: 44px;
}
.page2 aside h4{
    font-size: 32px;
}

.page2 img{
    width: 100%;
    margin-left: 50%;
    height: 50vh;
    border-radius: 10%;  
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.48);
 

}
.page2 .ancres{
    margin-left: 10px;
    margin-top: 10px;
    height: 6%;
}




section aside i {
    color: #FAB005;
    opacity: 0.5;
    rotate: 20deg;
    padding: 10px
}

/* ****************************************    PAGE ORIGINES    ******************************************* */



.mainorigines{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    height: 500px;
    background-image: url('Images p1/bernese-mountain-dog-1177074_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.imagevague {
    background-image: url('Images p1/wave (1).svg');
    height: 600px;
    background-size: cover;
}

.mainorigines section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}



.mainorigines .lienheader{
    display: flex;
    font-weight: 800;
    font-size: 25px;
    font-family: 'abeezee';
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
   justify-content: center;

}

.mainorigines article img{
    margin-left: 100px;
    border-radius: 7% 7% 7% 7%;
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.48);


}
section article .vieilleimage1 {
    margin-left: 13em;
    margin-bottom: -1em;
}
.mainorigines section aside {
    font-family: 'lobster two';
    font-size: 20px;
    width: 20%;
    margin-left: 50px;
    letter-spacing: 1.5px;
    
}



